In [ ]:
# mount it
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!cp /content/drive/MyDrive/colab_export/omsk_forest/import/omsk.zip omsk.zip

In [ ]:
!unzip omsk.zip

Archive:  omsk.zip
  inflating: sample_solution.csv
  inflating: Омская_область.pdf
  inflating: Forest_baseline.ipynb

In [ ]:
!ls

drive		       omsk.zip     sample_solution.csv
Forest_baseline.ipynb  sample_data  Омская_область.pdf

In [ ]:
#!cp /content/drive/MyDrive/colab_export/omsk_forest/import/train.csv train.csv
!cp /content/drive/MyDrive/colab_export/omsk_forest/export/csv_30_10_22/labels1.csv labels.csv

In [ ]:
!ls

drive		       labels.csv  sample_data		Омская_область.pdf
Forest_baseline.ipynb  omsk.zip    sample_solution.csv

In [ ]:
import json

import pandas as pd

In [ ]:
labels_df = pd.read_csv('labels.csv')
solution_df = pd.read_csv('sample_solution.csv')
#train_df = pd.read_csv('train.csv')

In [ ]:
#train_df[train_df['count_region'] == 2].head(2)

In [ ]:
labels_df.head(2)

   Unnamed: 0                                             labels
0           0  ['1012', {'cx': 185, 'cy': 132, 'r': 19}, {'cx...
1           1          ['1016', {'cx': 922, 'cy': 488, 'r': 20}]

In [ ]:
solution_df.head(2)

  ID_img  region_shape
0  1.JPG             0
1  2.JPG             0

In [ ]:
labels_dict = {}
labels_list = labels_df['labels'].to_list()
json.loads(labels_list[0].replace("'", "\""))

['1012', {'cx': 185, 'cy': 132, 'r': 19}, {'cx': 108, 'cy': 363, 'r': 31}]

In [ ]:
labels_list[0]

"['1012', {'cx': 185, 'cy': 132, 'r': 19}, {'cx': 108, 'cy': 363, 'r': 31}]"

In [ ]:
for label_data in labels_list:
  label_data = json.loads(label_data.replace("'", "\""))
  if not labels_dict.get(label_data[0]):
    labels_dict[label_data[0]] = [label_data[1]]
  else:
    labels_dict[label_data[0]].append(label_data[1])

In [ ]:
labels_dict['1012']

[{'cx': 185, 'cy': 132, 'r': 19}]

In [ ]:
def find_image(row):
  if labels_dict.get(row['ID_img'][:-4]):
    coordinates = json.dumps(labels_dict[row['ID_img'][:-4]])
    coordinates = coordinates.replace("{", "'{")
    coordinates = coordinates.replace("}", "}'")
    row['region_shape'] = coordinates
    return row
  row['region_shape'] = '0'
  return row

In [ ]:
sample_df = solution_df.apply(find_image, axis=1)
sample_df

        ID_img region_shape
0        1.JPG            0
1        2.JPG            0
2        3.JPG            0
3        4.JPG            0
4        5.JPG            0
...        ...          ...
3430  3431.JPG            0
3431  3432.JPG            0
3432  3433.JPG            0
3433  3434.JPG            0
3434  3435.JPG            0

[3435 rows x 2 columns]

In [ ]:
sample_df.to_csv('my_sample.csv', index=False)

In [ ]:
!ls

drive		       labels.csv     omsk.zip	   sample_solution.csv
Forest_baseline.ipynb  my_sample.csv  sample_data  Омская_область.pdf

In [ ]:
!cp my_sample.csv /content/drive/MyDrive/colab_export/omsk_forest/export/csv_30_10_22/sample_solution.csv

In [ ]:
sample_df[sample_df['region_shape']!='0']

        ID_img                           region_shape
5        6.JPG    ['{"cx": 828, "cy": 561, "r": 19}']
6        7.JPG    ['{"cx": 920, "cy": 528, "r": 27}']
33      34.JPG    ['{"cx": 732, "cy": 200, "r": 28}']
36      37.JPG  ['{"cx": 3295, "cy": 1842, "r": 83}']
39      40.JPG    ['{"cx": 940, "cy": 381, "r": 35}']
...        ...                                    ...
3360  3361.JPG    ['{"cx": 558, "cy": 279, "r": 23}']
3362  3363.JPG     ['{"cx": 39, "cy": 519, "r": 34}']
3363  3364.JPG    ['{"cx": 394, "cy": 546, "r": 42}']
3373  3374.JPG    ['{"cx": 937, "cy": 344, "r": 22}']
3380  3381.JPG   ['{"cx": 1003, "cy": 455, "r": 32}']

[473 rows x 2 columns]